In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [1]:
import pickle
import numpy as np
import pandas as pd
import json

import os

# Set display options to show all columns
pd.set_option('display.max_columns', None)

In [2]:
columns_to_scale = ['LotFrontage', 'LotArea', 'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal']
columns_to_encode = ['MSZoning','Street','Alley','LotShape','LandContour','Utilities','LotConfig','LandSlope','Neighborhood','Condition1','Condition2','BldgType','HouseStyle','RoofStyle','RoofMatl','Exterior1st','Exterior2nd','MasVnrType','ExterQual','ExterCond','Foundation','BsmtQual','BsmtCond','BsmtExposure','BsmtFinType1','BsmtFinType2','Heating','HeatingQC','CentralAir','Electrical','KitchenQual','Functional','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PavedDrive','PoolQC','Fence','MiscFeature','SaleType','SaleCondition','MSSubClass','OverallQual','OverallCond','YearBuilt','YearRemodAdd','BsmtFullBath','BsmtHalfBath','FullBath','HalfBath','BedroomAbvGr','KitchenAbvGr','TotRmsAbvGrd','Fireplaces','GarageCars','MoSold','YrSold','GaragePresence']

In [3]:
with open('/content/gdrive/MyDrive/HousePrices/df_test.pkl', 'rb') as file:
            df = pickle.load(file)

In [4]:
df.sample(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,GaragePresence
1060,2521,10,3,68.0,9543,1,2,0,3,0,4,0,5,2,2,0,5,7,4,108,51,1,1,12,13,2,0.0,2,4,2,2,3,3,5,0.0,5,0.0,845.0,845.0,1,0,1,4,845,845,0,1690,0,0,2,1,3,1,2,11,6,0,5,1,1,2,517.0,4,4,2,0,103,0,0,0,0,3,4,4,0,4,1,8,4,NaN,1
50,1511,5,3,90.0,9900,1,2,3,3,0,0,0,12,2,2,0,2,5,4,73,16,3,1,6,6,2,0.0,3,4,2,2,3,3,1,1059.0,5,0.0,150.0,1209.0,1,2,1,4,1209,0,0,1209,1,0,1,0,3,1,3,10,6,0,5,1,1,2,504.0,4,4,2,0,0,120,0,0,0,3,4,4,0,6,4,3,4,NaN,1
713,2174,10,3,70.0,10400,1,2,3,3,0,4,0,5,2,2,0,5,7,4,108,51,1,1,12,13,1,227.0,2,4,2,2,3,3,5,0.0,5,0.0,1257.0,1257.0,1,0,1,4,1290,871,0,2161,0,0,2,1,3,1,2,12,6,1,4,1,1,2,570.0,4,4,2,0,84,0,0,0,0,3,4,4,0,8,2,8,4,NaN,1
434,1895,5,3,70.0,11767,1,2,3,3,0,4,0,7,2,2,0,2,5,4,63,6,3,1,6,6,1,259.0,3,4,1,3,3,3,4,546.0,5,0.0,604.0,1150.0,1,0,1,4,1560,0,0,1560,0,0,1,0,2,1,3,11,2,1,4,1,2,1,313.0,4,4,2,0,0,0,0,0,0,3,4,4,0,7,3,8,4,NaN,1
1252,2713,0,1,34.0,3628,1,1,3,3,0,4,0,21,2,2,4,2,7,4,111,54,1,1,8,8,2,0.0,2,4,2,2,3,3,5,0.0,5,0.0,1143.0,1143.0,1,0,1,4,1143,0,0,1143,0,0,1,1,1,1,2,9,6,1,2,1,1,2,588.0,4,4,2,0,191,0,0,0,0,3,4,4,0,7,0,8,4,NaN,1
420,1881,5,3,90.0,11664,1,2,3,3,0,0,0,5,2,2,0,2,7,4,109,52,3,1,12,13,2,0.0,2,4,2,2,3,0,2,1234.0,5,0.0,335.0,1569.0,1,0,1,4,1611,0,0,1611,1,0,2,0,3,1,2,10,6,0,5,1,1,3,1231.0,4,4,2,262,93,0,0,0,0,3,4,4,0,11,3,8,4,NaN,1
105,1566,5,3,70.0,20062,1,2,0,2,0,4,1,4,2,2,0,2,7,6,84,51,3,1,13,14,2,0.0,2,2,1,2,3,1,0,1092.0,5,0.0,328.0,1420.0,1,2,1,4,1483,0,0,1483,1,0,1,1,1,1,3,8,6,2,4,1,1,2,690.0,4,4,2,496,0,0,0,0,0,3,4,4,0,6,4,8,4,NaN,1
104,1565,10,3,86.0,11227,1,2,3,3,0,4,0,19,2,2,0,5,5,4,75,18,1,1,6,6,2,0.0,3,2,1,3,1,3,4,267.0,0,453.0,0.0,720.0,1,0,1,4,720,720,0,1440,0,0,1,1,4,1,3,11,6,2,4,1,2,2,480.0,4,4,2,192,38,0,0,0,0,3,2,4,0,5,4,8,4,NaN,1
1242,2703,15,4,68.0,8927,1,2,3,3,0,4,0,19,5,2,2,0,6,5,84,27,1,1,12,13,2,0.0,3,2,1,4,4,4,6,0.0,6,0.0,0.0,0.0,1,4,1,4,1286,368,0,1654,0,0,2,0,4,2,3,0,6,0,5,1,1,2,528.0,4,4,2,0,0,0,0,0,0,3,4,4,0,10,0,8,4,NaN,1
1180,2641,5,3,60.0,7200,1,2,3,3,0,4,0,12,2,2,0,2,4,3,78,21,1,1,6,6,2,0.0,3,4,1,3,3,3,4,20.0,3,620.0,224.0,864.0,1,4,1,4,874,0,0,874,0,1,1,0,3,1,3,9,6,0,5,5,2,2,576.0,4,4,2,63,0,0,0,0,0,3,4,4,0,5,0,8,4,NaN,1

In [5]:
Id = df.Id
df = df.drop('Id',axis=1)
df = df.drop('SalePrice',axis=1)

In [6]:
missing_values_count = df.isnull().sum()
columns_with_missing_values = missing_values_count[missing_values_count > 0]
print(columns_with_missing_values)

Series([], dtype: int64)

In [7]:
address = '/content/gdrive/MyDrive/HousePrices/'
scaler_path = address + "scaler/scaler.pkl"

def load_and_apply_scaler(df,columns_to_scale,file_path):
    with open(file_path, 'rb') as file:
        scaler = pickle.load(file)
    df[columns_to_scale] = scaler.transform(df[columns_to_scale])
    return df

In [8]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,GaragePresence
0,5,2,80.0,11622,1,2,3,3,0,4,0,12,1,2,0,2,5,5,68,11,1,1,12,13,2,0.0,3,4,1,3,3,3,4,468.0,3,144.0,270.0,882.0,1,4,1,4,896,0,0,896,0,0,1,0,2,1,3,9,6,0,5,1,2,1,730.0,4,4,2,140,0,0,0,120,0,3,2,4,0,8,4,8,4,1
1,5,3,81.0,14267,1,2,0,3,0,0,0,12,2,2,0,2,6,5,65,8,3,1,13,14,1,108.0,3,4,1,3,3,3,0,923.0,5,0.0,406.0,1329.0,1,4,1,4,1329,0,0,1329,0,0,1,1,3,1,2,10,6,0,5,1,2,1,312.0,4,4,2,393,36,0,0,0,0,3,4,0,12500,8,4,8,4,1
2,10,3,74.0,13830,1,2,0,3,0,4,0,8,2,2,0,5,5,4,104,48,1,1,12,13,2,0.0,3,4,2,2,3,3,2,791.0,5,0.0,137.0,928.0,1,2,1,4,928,701,0,1629,0,0,2,1,3,1,3,10,6,1,4,1,0,2,482.0,4,4,2,212,34,0,0,0,0,3,2,4,0,5,4,8,4,1
3,10,3,78.0,9978,1,2,0,3,0,4,0,8,2,2,0,5,6,5,105,48,1,1,12,13,1,20.0,3,4,2,3,3,3,2,602.0,5,0.0,324.0,926.0,1,0,1,4,926,678,0,1604,0,0,2,1,3,1,2,11,6,1,2,1,0,2,470.0,4,4,2,360,36,0,0,0,0,3,4,4,0,8,4,8,4,1
4,0,3,43.0,5005,1,2,0,1,0,4,0,22,2,2,4,2,8,4,99,42,1,1,6,6,2,0.0,2,4,2,2,3,3,0,263.0,5,0.0,1017.0,1280.0,1,0,1,4,1280,0,0,1280,0,0,2,0,2,1,2,9,6,0,5,1,1,2,506.0,4,4,2,0,82,0,0,144,0,3,4,4,0,0,4,8,4,1

In [9]:
with open(address+"models/KMeans.pkl", 'rb') as file:
        KMeans = pickle.load(file)

In [10]:
df['cluster_id'] = KMeans.predict(df)

In [11]:
df['cluster_id'].value_counts()

1    1227
0     119
3     112
2       1
Name: cluster_id, dtype: int64

In [12]:
df['cluster_id'] = df['cluster_id'].astype('int64')

In [13]:
# Cluster 0
with open('/content/gdrive/MyDrive/HousePrices/models/XGBRegressor_0.pkl', 'rb') as file:
  model_0 = pickle.load(file)
# Cluster 1
with open('/content/gdrive/MyDrive/HousePrices/models/XGBRegressor_1.pkl', 'rb') as file:
  model_1 = pickle.load(file)
# Cluster 2
with open('/content/gdrive/MyDrive/HousePrices/models/XGBRegressor_2.pkl', 'rb') as file:
  model_2 = pickle.load(file)
# Cluster 3
with open('/content/gdrive/MyDrive/HousePrices/models/RandomForestRegressor_3.pkl', 'rb') as file:
  model_3 = pickle.load(file)

In [14]:
# Load the model_predict function
def model_predict(cluster_id, features):
  cluster_id = cluster_id[0]
  if cluster_id == 0:
        # Cluster 0
      model = model_0
  elif cluster_id == 1:
        # Cluster 1
      model = model_1
  elif cluster_id == 2:
        # Cluster 2
      model = model_2
  elif cluster_id == 3:
        # Cluster 3
      model = model_3

    # Make predictions using the selected model
  prediction = model.predict(features)

  return prediction

In [15]:
predictions_list = []
for i in range(len(df)):
  dfx = df.iloc[i]
  dfx = dfx.to_frame()
  dfx = dfx.T
  cluster_id = list(dfx['cluster_id'])
  dfx = dfx.drop('cluster_id',axis=1)
  prediction = model_predict(cluster_id, dfx)
  predictions_list.append(prediction[0])

In [23]:
fd = pd.DataFrame({'Id': Id, 'SalePrice': predictions_list})

In [24]:
fd.to_csv(address + "predictions.csv",index=False)

In [25]:
fd.head()

     Id      SalePrice
0  1461  169171.218750
1  1462  242697.500000
2  1463  202727.609375
3  1464  233988.765625
4  1465  202315.562500